<link rel="stylesheet" href="~/css/create.css"/>
    <div id="name">
        <h2>New Recipe</h2>
        <img src="http://www.trbimg.com/img-5a3d3316/turbine/ct-edit-amazon-chicago-rank-edit-20171206" Height=10% width=10% class="img-rounded" alt="Cinque Terre">
    </div>
    <div id="body">
        <div class="panel panel-default">
        <div class="panel-heading">Recipe Information</div>
        <div class="panel-body">
            <form action="vcreate" method="post">
            <div class="form-group">
                <label for="exampleFormControlInput1">Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ie Basil Pesto" name="name">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Serves</label>
                <select class="form-control" id="exampleFormControlSelect1" name="serves">
                <option>1-2</option>
                <option>2-3</option>
                <option>3-4</option>
                <option>4+</option>
                </select>
            </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Add a Short Description Here" name="description"></textarea>
            </div>
            <button>Next</button>
            <p>@ViewBag.errors</p>
            </form>
        </div>
        </div>
    </div>

    