<link rel="stylesheet" href="~/css/create.css"/>
    <div id="name">
        <h2>New Recipe</h2>
        <img src="http://www.trbimg.com/img-5a3d3316/turbine/ct-edit-amazon-chicago-rank-edit-20171206" Height=10% width=10% class="img-rounded" alt="Cinque Terre">
    </div>
    <div id="body">
        <div class="panel panel-default">
        <div class="panel-heading">Directions</div>
        <div class="panel-body">
            <form action="/complete" method="post">
            <div class="form-group">
                <h3>@ViewBag.recipename</h3>
                <label for="exampleFormControlTextarea1">Directions</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="How to put it together" name="directions"></textarea>
            </div>
            <button>Next</button>
            <p>@ViewBag.errors</p>
            </form>
        </div>
        </div>
    </div>

    